.App {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  max-width: 736px;
  margin: 0 auto;
  padding: 0px 30px;
}

@font-face {
  font-family: "HelveticaLight";
  src: url("./fonts/HelveticaNeueLight.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "HelveticaRegular";
  src: url("./fonts/HelveticaNeueRoman.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "HelveticaMedium";
  src: url("./fonts/HelveticaNeueMedium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "HelveticaBold";
  src: url("./fonts/HelveticaNeueBold.ttf") format("truetype");
  font-style: normal;
}

@media print {
  @page { size: landscape; }
}