.App {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  max-width: 736px;
  margin: 0 auto;
  padding: 0px 30px;
}

@font-face {
  font-family: "HelveticaNeue"; 
  src: url("./img//fonts/HelveticaNeue.ttf") format("truetype"); 
  font-style: normal; 
  } 